.table-view {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #bdbdbd;
    -fx-font-size: 14px;
}

.table-row-cell:odd {
    -fx-background-color: #e8e8e8;
}

.table-row-cell:even {
    -fx-background-color: #f8f8f8;
}

.column-header-background {
    -fx-background-color: #336699;
}

.table-column-header {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
